.sidebarTitle {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 20px;
}

.sidebarItems {
	margin-top: 20px;
}

.sidebarLabelContainer {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sidebarLabelContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

.sidebarLabelContainer:hover input ~ .checkmark {
	background-color: #ccc;
}

.sidebarLabelContainer input:checked ~ .checkmark {
	background-color: #93c6ef;
}

.checkmark::after {
	content: "";
	position: absolute;
	display: none;
}

.sidebarLabelContainer input:checked ~ .checkmark::after {
	display: block;
}

.sidebarLabelContainer .checkmark::after {
	top: 6.4px;
	left: 6.4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}

.line {
	margin-top: 3rem;
	border-color: #f7f7f7;
}
