.colorTitle {
	margin-top: 2rem;
}

.all {
	background: linear-gradient(blue, crimson);
}

.sidebarLabelContainer.white .checkmark::after {
	top: 6.4px;
	left: 6.4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: black;
}
